﻿

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #655560;
    color: #A4969B;
    font: 300;
    margin: 0;
    min-height: 100%;
}

.align {
    align-items: center;
    display: flex;
    flex-direction: row;
   
}

.site {

}


input {
    border: 0;
    font: inherit;
}

.bn39 {
    background-image: linear-gradient(135deg, #008aff, #86d472);
    border-radius: 6px;
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    height: 25px;
    font-size: 10px;
    font-weight: 600;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 7em;
    z-index: 2;
}

    .bn39:hover {
        color: #fff;
    }

    .bn39 .bn39span {
        align-items: center;
        background: #0e0e10;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        height: 100%;
        transition: background 0.5s ease;
        width: 100%;
    }

    .bn39:hover .bn39span {
        background: transparent;
    }

::placeholder {
    color: #3d3339;
}

::-webkit-input-placeholder {
    color: #3d3339;
}

::-moz-placeholder {
    color: #3d3339;
}
/* Firefox 19+ */
:-moz-placeholder {
    color: #3d3339;
}
/* Firefox 18- */
:-ms-input-placeholder {
    color: #3d3339;
}

.form {
  
}

input {
    outline: 0;
    padding: .5rem 1rem;

}

.grid {
    margin: 0 auto;
    max-width: 25rem;
    width: 100%;
}

h2 {
    font-size: 2.75rem;
    font-weight: 100;
    margin: 0 0 1rem;
    text-transform: uppercase;
}

svg {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

a {
    color: #7e8ba3
}

.register {
    box-shadow: 0 0 500px #000;
    text-align: center;
    padding: 4rem 2rem;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 1rem 50%;
}

.val {
    border: 1px solid #242c37;
    border-radius: 999px;
    background-color: transparent;
    text-align: center;
}
