﻿@page
@model DocumentCreatorProject.Pages.Home.Index_AuthModel
@{
    Layout = null;
}
@*<body>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>


</body>*@
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="~/css/pr-image/Лого2.png">
    <meta charset="UTF-8">
    <title>МПТ-Авторизация в системе</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/message1.css">

</head>
<body class="align">

    <div class="grid align__item">

        <div class="register">

            <img src="~/css/pr-image/МПТ.png" height="84"></img>

            <h2>Авторизация</h2>

            <form asp-page="dfddfdd" asp-page-handler="Home" method="post" class="form">

                <div>
                    <input type="email" placeholder="Логин" style="border-radius: 5px; background-color:rgba(255,255,255,0.2); padding:5px; margin-top: 5px; margin-bottom:5px;">
                </div>

                <div>
                    <input type="password" placeholder="••••••••••••" style="border-radius: 5px; background-color:rgba(255,255,255,0.2);padding:5px;margin-top: 5px; margin-bottom:5px;">
                </div>

                <div >

                    <a class="bn39" href="/"><span class="bn39span">Button</span></a>
                </div>

            </form>

            <p>Ещё нет аккаунта? <a  asp-page="/Home/Index_Register">Регистрация</a></p>

        </div>

    </div>

</body>
</html>
