﻿﻿

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #655560;
    color: #A4969B;
    font: 300;

{
    1rem
}

/# {
    1.5
}

Helvetica Neue, sans-serif;
margin: 0;
min-height: 100%;
}

.align {
    align-items: center;
    display: flex;
    flex-direction: row;
    &__item

{
    &--start

{
    align-self: flex-start;
}

&--end {
    align-self: flex-end;
}

}
}

.site {
    &__main

{
}

&__logo {
    margin-bottom: 2rem;
}

}


input {
    border: 0;
    font: inherit;
}

::placeholder {
    color: #3d3339;
}

:: -webkit-input-placeholder {
    color: #3d3339;
}

::-moz-placeholder {
    color: #3d3339;
}
/* Firefox 19+ */
:-moz-placeholder {
    color: #3d3339;
}
/* Firefox 18- */
:-ms-input-placeholder {
    color: #3d3339;
}

.form {
    &__field

{
    margin-bottom: 1rem;
}

input {
    outline: 0;
    padding: .5rem 1rem;
    &[type="email"], &[type="password"]

{
    width: 100%;
}

}
}

.grid {
    margin: 0 auto;
    max-width: 75rem;
    width: 100%;
}

h2 {
    font-size: 2.75rem;
    font-weight: 100;
    margin: 0 0 1rem;
    text-transform: uppercase;
}

svg {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

a {
    color: #7e8ba3
}

.register {
    box-shadow: 0 0 500px #000;
    text-align: center;
    padding: 3rem 2rem;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 1rem 50%;
}

.val {
    border: 1px solid #242c37;
    border-radius: 999px;
    background-color: transparent;
    text-align: center;
}

}


* {
    box-sizing: border-box;
}

#content {
    padding: 0.5rem;
    display: flex;
}

#left,
#right {
    padding: 0.5rem;
    flex-grow: 1;
}
