﻿@using Microsoft.EntityFrameworkCore;
@using DocumentCreatorProject1;
@model IEnumerable<DocumentCreatorProject1.Models.UsersAllInfo>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>МПТ-Добавить новый документ</title>

</head>
<body>

    <form id="formDocument" name="formDocument">
        <div class="row">
            <div class="col-md-6">
                <div class="file-area">
                    <input name="FileUrl" type="file" id="input" enctype="multipart/form-data" required>
                    <div class="file-dummy">
                        <span class="default">Выберите необходимый файл</span>
                        <span class="success">Файл успешно загружен</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <label>Вид документа: </label>
                    <select id="ddlViewBy" name="TypeFile" onchange="updDoc();" style="width:100%;">
                        <option value="1">НПО</option> @*Начальное профессиональное образование*@
                        <option value="2">СПО</option>
                        <option value="3">ВПО</option>
                        <option value="4">Вендоная сертификация</option>
                        <option value="5">Сертификация</option>
                        <option value="6">Сертификат</option>
                        <option value="7">Сертификат студента</option>
                        <option value="8">Сертификация студента</option>
                        <option value="9">Сертификат студента. WSR</option>
                        <option value="10">Участие в WSR</option>
                        <option value="11">Участие в WSR.ЧЭ</option>
                        <option value="40">Сертификат студента. DigitalSkills</option>
                        <option value="41">Участие в DigitalSkills</option>
                        <option value="12">Профессиональная переподготовка</option>
                        <option value="13">Повышение квалификации</option>
                        <option value="14">Профессиональное обучение</option>
                        <option value="15">Распоряжение</option>
                        <option value="16">Приказ</option>
                        <option value="17">Конференция</option>
                        <option value="18">Мастер-класс</option>
                        <option value="19">Форум</option>
                        <option value="20">Панельная дискуссия</option>
                        <option value="21">Онлайн-класс</option>
                        <option value="22">Вебинар</option>
                        <option value="23">Семинар</option>
                        <option value="24">Круглый стол</option>
                        <option value="25">Отчёт</option>
                        <option value="26">Справка</option>
                        <option value="27">Справка. Публикация</option>
                        <option value="28">Справка. Стажировка</option>
                        <option value="29">Статья</option>
                        <option value="30">Свидетельство. Публикация.</option>
                        <option value="31">Сводная ведомость</option>
                        <option value="32">Стажировка</option>
                        <option value="33">УМК</option>
                        <option value="34">НИР</option>
                        <option value="35">Благодарность</option>
                        <option value="36">Награда</option>
                        <option value="37">Конкурс педагогов</option>
                        <option value="38">Бейджик</option>
                        <option value="39">Профессиональные ассоциации</option>
                        <option value="42">Протокол. Открытый урок.</option>



                    </select>
                </div>
                <div id="divDate">
                    <label id="textDate">Дата документа: </label>
                    <input type="date" placeholder="" name="NewDate" style="border-radius: 5px; background-color:rgba(255,255,255,0.2); padding:5px; margin-top: 5px; margin-bottom:5px; color:whitesmoke;" required>
                    <div>
                        <label>Загрузить к:  </label>
                        <div class="checkselect" style="color:black; padding:5px; margin-top: 5px; margin-bottom:10px;width:100%">
                            <label><input type="checkbox" name="users[]" value="@ViewBag.User" checked>@ViewBag.User</label>

                            @foreach (var item in Model.Where(model => model.UsersInfoFio != ViewBag.User))
                            {
                                <label><input type="checkbox" name="users[]" value="@item.UsersInfoFio">@item.UsersInfoFio</label>
                            }

                        </div>
                    </div>
                </div>
                <div id="divFirst">
                    <label id="textNew">Организация</label>
                    <input id="one" type="text" placeholder="" name="NewName" style="border-radius: 5px; background-color:rgba(255,255,255,0.2); padding:5px; margin-top: 5px; margin-bottom:5px; color:whitesmoke;width:100%" required>
                </div>
                <div id="divSecond" style="display: none">
                    <label id="textUser">Тип участия: </label>
                    <select id="TypeUser" name="TypeUser">
                        <option value="Участник">Участник</option>
                        <option value="Эксперт">Эксперт</option>
                        <option value="Главный эксперт">Главный эксперт</option>
                        <option value="Заместитель главного эксперта">Заместитель главного эксперта</option>
                    </select>

                </div>
                <div id="divThird" style="display: none">
                    <label id="textWSR">Тип: </label>
                    <select id="TypeWSR" name="TypeWSR">
                        <option value="Вузовский">Вузовский</option>
                        <option value="Региональный">Региональный</option>
                        <option value="Отборочный">Отборочный</option>
                    </select>

                </div>
                <div id="div6" style="display: none">
                    <label id="textYMK">Тип УМК: </label>
                    <select id="TypeYMK" name="TypeYMK">
                        <option value="РП">РП</option>
                        <option value="СР">СР</option>
                        <option value="КОС">КОС</option>
                        <option value="КИМ">КИМ</option>
                        <option value="МУ">МУ</option>
                        <option value="ПР">ПР</option>
                        <option value="ЛР">ЛР</option>
                    </select>

                </div>
                <div id="div4">
                    <label id="text3">Квалификация</label>
                    <input id="two" type="text" placeholder="" name="NewName2" style="border-radius: 5px; background-color:rgba(255,255,255,0.2); padding:5px; margin-top: 5px; margin-bottom:5px; color:whitesmoke; width:100%" required>
                </div>
                <div id="div5" style="display: none">
                    <label id="text4">Номер:</label>
                    <input id="three" type="text" placeholder="" name="NewName3" style="border-radius: 5px; background-color:rgba(255,255,255,0.2); padding:5px; margin-top: 5px; margin-bottom:5px; color:whitesmoke;">
                    <label id="text5"> от </label>
                    <input id="four" type="date" placeholder="" name="NewDate2" style="border-radius: 5px; background-color:rgba(255,255,255,0.2); padding:5px; margin-top: 5px; margin-bottom:5px; color:whitesmoke;">
                    <div>
                        <label id="text10">О чём:</label>
                        <input id="nine" type="text" placeholder="" name="NewName8" style="border-radius: 5px; background-color:rgba(255,255,255,0.2); padding:5px; margin-top: 5px; margin-bottom:5px; color:whitesmoke;width:100%">

                    </div>
                </div>

                <div id="div7" style="display:none">
                    <label id="text6">new</label>
                    <input id="five" type="text" placeholder="" name="NewName4" style="border-radius: 5px; background-color:rgba(255,255,255,0.2); padding:5px; margin-top: 5px; margin-bottom:5px; color:whitesmoke;width:100%">
                </div>
                <div id="div8" style="display:none">
                    <label id="text7">new</label>
                    <input id="six" type="text" placeholder="" name="NewName5" style="border-radius: 5px; background-color:rgba(255,255,255,0.2); padding:5px; margin-top: 5px; margin-bottom:5px; color:whitesmoke;width:100%">
                </div>
                <div id="div9" style="display:none">
                    <label id="text8">new</label>
                    <input id="seven" type="text" placeholder="" name="NewName6" style="border-radius: 5px; background-color:rgba(255,255,255,0.2); padding:5px; margin-top: 5px; margin-bottom:5px; color:whitesmoke;width:100%">
                </div>
                <div id="div10" style="display:none">
                    <label id="text9">new</label>
                    <input id="eight" type="text" placeholder="" name="NewName7" style="border-radius: 5px; background-color:rgba(255,255,255,0.2); padding:5px; margin-top: 5px; margin-bottom:5px; color:whitesmoke;width:100%">
                </div>
                
                <div>
                    <input type="submit" value="Добавить" style="border-radius: 5px; background-color:rgba(255,255,255,0.2);padding:5px;margin-top: 5px; margin-bottom:5px;" />
                </div>
            </div>


        </div>

      
    </form>

</body>
</html>
<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script src="~/js/documentsType.js"></script>
<style>

    .checkselect {
        position: relative;
        display: inline-block;
        min-width: 200px;
        text-align: left;
    }

    .checkselect-control {
        position: relative;
        padding: 0 !important;
    }

        .checkselect-control select {
            position: relative;
            display: inline-block;
            width: 100%;
            margin: 0;
            padding-left: 5px;
            height: 35px;
        }

    .checkselect-over {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: pointer;
    }

    .checkselect-popup {
        display: none;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        max-height: 200px;
        position: absolute;
        top: 100%;
        left: 0px;
        border: 1px solid #dadada;
        border-top: none;
        background: #fff;
        z-index: 9999;
        overflow: auto;
        user-select: none;
    }

    .checkselect label {
        position: relative;
        display: block;
        margin: 0;
        padding: 4px 6px 4px 25px;
        font-weight: normal;
        font-size: 1em;
        line-height: 1.1;
        cursor: pointer;
    }

    .checkselect-popup input {
        position: absolute;
        top: 5px;
        left: 8px;
        margin: 0 !important;
        padding: 0;
    }

    .checkselect-popup label:hover {
        background: #03a2ff;
        color: #fff;
    }

    .checkselect-popup fieldset {
        display: block;
        margin: 0;
        padding: 0;
        border: none;
    }

        .checkselect-popup fieldset input {
            left: 15px;
        }

        .checkselect-popup fieldset label {
            padding-left: 32px;
        }

    .checkselect-popup legend {
        display: block;
        margin: 0;
        padding: 5px 8px;
        font-weight: 700;
        font-size: 1em;
        line-height: 1.1;
    }


    input:required:invalid {
        border: 1px solid red;
    }

    input:required:valid {
        border: 1px solid lightgreen;
    }

    .file-area {
        width: 100%;
        position: relative;
        font-size: 18px;
        margin-bottom: 10px;
    }

        .file-area input[type=file] {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            cursor: pointer;
        }

        .file-area .file-dummy {
            width: 100%;
            padding: 150px 30px;
            border: 2px dashed #ccc;
            background-color: #544750;
            text-align: center;
            transition: background 0.3s ease-in-out;
        }

            .file-area .file-dummy .success {
                display: none;
            }

        .file-area:hover .file-dummy {
            border: 2px dashed #1abc9c;
        }

        .file-area input[type=file]:valid + .file-dummy {
            border-color: #1abc9c;
        }

            .file-area input[type=file]:valid + .file-dummy .success {
                display: inline-block;
            }

            .file-area input[type=file]:valid + .file-dummy .default {
                display: none;
            }

</style>

<script>


    $('#formDocument').submit(function (event) {
        event.preventDefault();
        var formData = new FormData($("#formDocument")[0]);

        $.ajax({
            url: "/Home/InsertFileToServer",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (result) {

                $("#snackbar").text(result);


                myFunction();// выводим результат в див
            }
        });
    });
   

   
</script>
