﻿@{
    Layout = "/Views/Shared/_Layout_Register.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        body {
            color: white;
            font-family: 'Bookman Old Style';
            text-align: center;
        }



        .required:after {
            content: " *";
            font-size: 10px;
            color: floralwhite;
        }

        .maxWidth508 {
            display: none;
        }

      
    </style>
    <link rel="icon" href="~/css/pr-image/MPT.png">
    <meta charset="UTF-8">
    <title>МПТ-Регистрация в системе</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/Registration.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

</head>
<div style="height: 10vh;"></div>
<body style="align-content:center">

    @*<div class="maxWidth1980">*@


    <div class="grid align__item">

        <div class="register">

            <img src="~/css/pr-image/MPT.png" height="84"></img>

            <h2>Регистрация</h2>

            <form id="formRegister" name="formRegister">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <label class="required" style=" color: #A4969B;">Имя:</label>
                        </div>
                        <div>

                            <input class="required" name="Name" type="text" placeholder="Имя" style="border-radius: 5px; background-color:rgba(255,255,255,0.2); padding:5px; margin-top: 5px; margin-bottom:5px;" required>
                        </div>
                        <div>
                            <label class="required" style=" color: #A4969B;">Фамилия:</label>
                        </div>
                        <div>
                            <input type="text" name="Fam" placeholder="Фамилия" style="border-radius: 5px; background-color:rgba(255,255,255,0.2); padding:5px; margin-top: 5px; margin-bottom:5px;" required>
                        </div>
                        <div>
                            <label style=" color: #A4969B;">Отчество:</label>
                        </div>
                        <div>
                            <input type="text" name="Ot" placeholder="Отчество" style="border-radius: 5px; background-color:rgba(255,255,255,0.2); padding:5px; margin-top: 5px; margin-bottom:5px;">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <label class="required" style=" color: #A4969B;">Дата рождения:</label>
                        </div>
                        <div>
                            <input type="date" id="date" name="Birth" max="2008-12-31" style="border-radius: 5px; background-color:rgba(255,255,255,0.2); padding:5px; margin-top: 5px; color:#3d3339; margin-bottom:5px;" required />
                        </div>
                        <label class="required" style=" color: #A4969B;">Email:</label>
                        <div>
                            <input name="Email" type="email" placeholder="Email" style="border-radius: 5px; background-color:rgba(255,255,255,0.2); padding:5px; margin-top: 5px; margin-bottom:5px;" required>
                        </div>
                        <label class="required" style=" color: #A4969B;">Пароль:</label>
                        <div>
                            <input name="Password" type="password" placeholder="••••••••••••" pattern="(?=.*\d)(?=.*[a-zа-я])(?=.*[A-ZА-Я]).{8,}" title="Пароль должен содержать минимум 8 символов, одну большую букву и одну цифру" style="border-radius: 5px; background-color:rgba(255,255,255,0.2);padding:5px;margin-top: 5px; margin-bottom:5px;" required>
                            
                        </div>

                    </div>

                    <div class="col-md-4">
                        <div>
                            <label class="required" style=" color: #A4969B;">Дата начала работы:</label>
                        </div>
                        <div>
                            <input type="month" id="date" name="DateStart" min="2008-12-31" style="border-radius: 5px; background-color:rgba(255,255,255,0.2); padding:5px; margin-top: 5px; color:#3d3339; margin-bottom:5px;" required />
                        </div>
                        <div>
                            <label class="required" style=" color: #A4969B;">Дата начала работы в МПТ:</label>
                        </div>
                        <div>
                            <input type="month" id="date" name="DateStartMPT" min="2008-12-31" style="border-radius: 5px; background-color:rgba(255,255,255,0.2); padding:5px; margin-top: 5px; color:#3d3339; margin-bottom:5px;" required />
                        </div>
                        <div>
                            <label class="required" style=" color: #A4969B;">Дата начала преподавательской деятельности:</label>
                        </div>
                        <div>
                            <input type="month" id="date" name="DateStartTeach" min="2008-12-31" style="border-radius: 5px; background-color:rgba(255,255,255,0.2); padding:5px; margin-top: 5px; color:#3d3339; margin-bottom:5px;" required />
                        </div>

                    </div>
                </div>
                <div>

                    <input type="checkbox" name="Done" style="border-radius: 5px; background-color:rgba(255,255,255,0.2); padding:5px; margin-top: 5px; margin-bottom:5px;" required />
                    <label>Я даю согласие на обработку моих персональных данных</label>

                </div>


                <div class="form__field">
                    <input type="submit" value="Регистрация" style="border-radius: 5px; background-color:rgba(255,255,255,0.2);padding:5px;margin-top: 5px; margin-bottom:5px;">
                </div>

            </form>

            <p>Уже есть аккаунт? <a asp-action="Index_Auth">Авторизация</a></p>

        </div>

    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>

<script src="~/js/register.js"></script>