﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <title>МПТ-Создать ИПРП</title>
</head>
<body>
    <form id="formWord" name="formWord">
        <div class="row">
            <div class="col-md-12">
                <h2>Создание документа</h2>
                <div>
                    <label>Учебный год(формат xxxx/xxxx)</label>
                    <input type="text" placeholder="xxxx/xxxx" name="Parametr1" style="border-radius: 5px; background-color:rgba(255,255,255,0.2); padding:5px; margin-top: 5px; margin-bottom:5px;" pattern="[0-9]{4}/[0-9]{4}" required>
                </div>

                <div>
                    <label>Название цикловой методической комиссии</label>
                    <input type="text" name="Parametr2" placeholder="Название цикловой методической комиссии" style="width:95%; border-radius: 5px; background-color:rgba(255,255,255,0.2);padding:5px;margin-top: 5px; margin-bottom:5px;" required>
                </div>
                <label>Дисциплинa, МДК(перечислить)</label>
                <div>
                    <textarea name="Parametr4" sstyle="width: 300px; height: 150px" required></textarea>
                </div>
                <div>
                    <label>Специальность(пример 09.02.07)</label>
                    <input type="text" name="Parametr5" placeholder="Специальность" style="width:95%; border-radius: 5px; background-color:rgba(255,255,255,0.2);padding:5px;margin-top: 5px; margin-bottom:5px;" required>
                </div>
                <div>
                    <label>Курс(ы)</label>
                    <input type="text" name="Parametr6" placeholder="Курс" style="border-radius: 5px; background-color:rgba(255,255,255,0.2);padding:5px;margin-top: 5px; margin-bottom:5px;" required>

                </div>
                <div>
                    <label>Занимаемые должности</label>
                    <input type="text" name="Parametr9" placeholder="Занимаемые должности" style=" width:95%; border-radius: 5px; background-color:rgba(255,255,255,0.2);padding:5px;margin-top: 5px; margin-bottom:5px;" required>
                </div>
                <label>Преподаваемые дисциплины</label>
                <div>

                    <textarea name="Parametr13" placeholder="Преподаваемые дисциплины" required></textarea>

                </div>
               
                <div>
                    <label>Количество учебных часов в год</label>
                    <input type="number" name="Parametr20" min="0" step="1" class="input_num" value="1440" style="border-radius: 5px; background-color:rgba(255,255,255,0.2);padding:5px;margin-top: 5px; margin-bottom:5px;" required>
                </div>
                <div>
                    <label>Количество учебных часов в первом семестре</label>
                    <div>
                        <input type="number" name="Parametr18" min="0" step="1" class="input_num" style="border-radius: 5px; background-color:rgba(255,255,255,0.2);padding:5px;margin-top: 5px; margin-bottom:5px;" required>
                    </div>
                </div>
                <div>
                    <label>Работа по оснащению специализированных кабинетов</label>

                    <div>
                        <textarea name="Parametr21" placeholder="Работа по оснащению специализированных кабинетов"></textarea>
                    </div>
                </div>
                <div>
                    <label>Подготовка УМК (в т.ч. изданные в течение отчетного периода КТП, рабочая программа, ФОС, методички), соответствие образовательным программам, предложение и перспективный план заданий.</label>
                    <div>
                        <textarea name="Parametr22" placeholder="Подготовка УМК"></textarea>
                    </div>
                </div>
                <div>
                    <label>Внедрение эффективных методов преподавания, обобщение, обмен педагогическим опытом, использование инновационных технологий, взаимопосещения занятий коллег.</label>
                    <div>
                        <textarea name="Parametr23" placeholder="Подготовка УМК"></textarea>
                    </div>
                </div>
                <div>
                    <label>Междисциплинарные связи.</label>

                    <div>
                        <textarea name="Parametr24" placeholder="Работа по оснащению специализированных кабинетов"></textarea>
                    </div>
                </div>
                <div>
                    <label>Организация самостоятельной работы обучающихся в т.ч. выполнения и проверка домашних заданий.</label>

                    <div>
                        <textarea name="Parametr25" placeholder="Работа по оснащению специализированных кабинетов"></textarea>
                    </div>
                </div>
                <div>
                    Проведение открытых мероприятий (темы докладов на заседаниях ЦМК, открытых уроков и мероприятий, уроков-экскурсий, прочее).Работа по оснащению специализированных кабинетов</label>

                    <div>
                        <textarea name="Parametr26" placeholder="Работа по оснащению специализированных кабинетов"></textarea>
                    </div>
                </div>
                <div>
                    <label>Проведение внеаудиторных мероприятий с обучающимися.</label>

                    <div>
                        <textarea name="Parametr27" placeholder="Работа по оснащению специализированных кабинетов"></textarea>
                    </div>
                </div>
                <div>
                    <label>Обеспечение дисциплин учебной литературой.</label>

                    <div>
                        <textarea name="Parametr28" placeholder="Работа по оснащению специализированных кабинетов"></textarea>
                    </div>
                </div>
                <div>
                    <label>Внедрения новых форм и методов обучения, средств активизации познавательной деятельности обучающихся.</label>

                    <div>
                        <textarea name="Parametr29" placeholder="Работа по оснащению специализированных кабинетов"></textarea>
                    </div>
                </div>
                <div>
                    <label>Подготовка программных материалов для промежуточных аттестаций и иных установленных форм контроля (анализ контрольных материалов и сессий).</label>

                    <div>
                        <textarea name="Parametr30" placeholder="Работа по оснащению специализированных кабинетов"></textarea>
                    </div>
                </div>
                <div>
                    <label>Предложения по совершенствованию учебного процесса на перспективу.</label>

                    <div>
                        <textarea name="Parametr31" placeholder="Работа по оснащению специализированных кабинетов"></textarea>
                    </div>
                </div>
                <div>
                    <label>Организация самостоятельной и научно-исследовательской деятельности обучающихся (указать мероприятия, например название и место проведение олимпиады).</label>

                    <div>
                        <textarea name="Parametr32" placeholder="Работа по оснащению специализированных кабинетов"></textarea>
                    </div>
                    <div>
                        <label>Статьи и публикации в учебном году.</label>

                        <div>
                            <textarea name="Parametr33" placeholder="Работа по оснащению специализированных кабинетов"></textarea>
                        </div>
                    </div>
                    <div>
                        <label>Прочие планируемые достижения в учебном году.</label>

                        <div>
                            <textarea name="Parametr34" placeholder="Работа по оснащению специализированных кабинетов"></textarea>
                        </div>
                    </div>
                    <div>
                        <label>Повышение квалификации(планирующиеся)</label>

                        <div>
                            <textarea name="Parametr35" placeholder="Работа по оснащению специализированных кабинетов"></textarea>
                        </div>
                    </div>
                    <div>
                        <label>Стажировка, аспирантура, курсы, прочее(планирующиеся)</label>

                        <div>
                            <textarea name="Parametr36" placeholder="Работа по оснащению специализированных кабинетов"></textarea>
                        </div>
                    </div>


                    <div>
                        <input type="submit" value="Создать" class="btn btn-primary" style="border-radius: 5px; background-color:rgba(255,255,255,0.2);padding:5px;margin-top: 5px; margin-bottom:5px; width:100px" />

                    </div>
                </div>
            </div>
        </div>
        <style>
            input:required:invalid {
                border: 1px solid red;
            }

            input:required:valid {
                border: 1px solid lightgreen;
            }

            .file-area {
                width: 100%;
                position: relative;
                font-size: 18px;
                margin-bottom: 10px;
            }
        </style>

    </form>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    @*    <script src="~/js/site.js" asp-append-version="true"></script>*@
</body>
<script src="~/js/numbers.js"></script>
<script>


    $('#formWord').submit(function (event) {
        event.preventDefault();
        var formData = new FormData($("#formWord")[0]);

        $.ajax({
            url: "/Home/DownloadWord",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (result) {

                $("#snackbar").text(result);


                myFunction();// выводим результат в див
            }
        });
    });
   

   
</script>