﻿@using Microsoft.EntityFrameworkCore;
@using DocumentCreatorProject1;
@model IEnumerable<DocumentCreatorProject1.Models.UsersWithStatus>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var value = "";

}
<head>
    <title>МПТ-Все пользователи</title>
    <style>
        .truncate {
            width: 120px;
                        white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        [data-letters]:before {
            content: attr(data-letters);
            display: inline-block;
            font-size: 1em;
            width: 2.5em;
            height: 2.5em;
            line-height: 2.5em;
            text-align: center;
            border-radius: 50%;
            background: #4f424b;
            vertical-align: middle;
            margin-right: 1em;
            color: white;
        }

        [data-letters-admin]:before {
            content: attr(data-letters-admin);
            display: inline-block;
            font-size: 1em;
            width: 2.5em;
            height: 2.5em;
            line-height: 2.5em;
            text-align: center;
            border-radius: 50%;
            background: #280a1b;
            vertical-align: middle;
            margin-right: 1em;
            color: white;
        }
    </style>
</head>
<h2>Все пользователи</h2>
<div class="scroll-table">
    <table class="table" style="color:white;">
        <thead>
            <tr>
                @*<th>Номер</th>*@
                <th style="border-radius: 8px 0 0 8px  ">
                    ФИО
                </th>


                <th style="width:250px;border-radius:0 8px 8px 0 ">
                    <form asp-action="Index_AllUsers" asp-controller="Home" method="get" enctype="multipart/form-data">
                        <input type="search" placeholder="Поисковый запрос" name="SearchText" />
                        <button style="background-color: transparent; background-repeat: no-repeat;border: none;cursor: pointer;overflow: hidden;outline: none; align-content:end;"> <img src="~/css/pr-image/Search.png" width="20" height="auto"></button>

                    </form>
                </th>

            </tr>
        </thead>
    </table>
    <div class="scroll-table-body">

        <div class="" style="color:white">
            @foreach (var item in Model)
            {
                { value = item.UsersInfoFio.Substring(0, 1); }

                <div style="display: flex;">
                    @if (item.RolesId == 2)
                    {
                        <div>
                            <form asp-action="UserUp" asp-controller="Home" method="post" enctype="multipart/form-data">
                                <input name="IdUser" type="hidden" value="@item.UsersSId">
                                <button style="background-color: transparent; background-repeat: no-repeat;border: none;cursor: pointer;overflow: hidden;outline: none; align-content:end;"> <img src="~/css/pr-image/Up.png" width="auto" height="50"></button>
                            </form>
                        </div>
                    }
                    @if (item.RolesId == 1)
                    {
                        <div>
                            <form asp-action="UserDown" asp-controller="Home" method="post" enctype="multipart/form-data">
                                <input name="IdUser" type="hidden" value="@item.UsersSId">
                                <button style="background-color: transparent; background-repeat: no-repeat;border: none;cursor: pointer;overflow: hidden;outline: none; align-content:end;"> <img src="~/css/pr-image/Down.png" width="auto" height="50"></button>
                            </form>
                        </div>
                    }
                    @if (item.RolesId == 2)
                    {
                    <p data-letters="@value"></p>
                    }
                    @if (item.RolesId == 1)
                    {
                    <p data-letters-admin="@value"></p>
                    }
                    <div class="truncate" style="flex-grow: 1;text-align:start;line-height: 50px; ">
                        @Html.DisplayFor(modelItem => item.UsersInfoFio)
                    </div>
                 
                    <div style="width:80px">
                        <form asp-action="Index_User_Portfolio" asp-controller="Home" method="post" enctype="multipart/form-data" target="_blank">
                            <input name="IdUser" type="hidden" value="@item.UsersSId">
                            <button style="background-color: transparent; background-repeat: no-repeat;border: none;cursor: pointer;overflow: hidden;outline: none; align-content:end;"> <img src="~/css/pr-image/Portfolio.png" width="50" height="auto"></button>
                        </form>
                    </div>
                    


                </div>
                <hr style="display: block;display: block;overflow: hidden;border-style: inset;border-width: 0px;">
            }
        </div>
    </div>
</div>
