﻿@using Microsoft.EntityFrameworkCore;
@using DocumentCreatorProject1;
@model IEnumerable<DocumentCreatorProject1.Models.DocumentsAll>

<head>
    <title>МПТ-Сгенерированные документы</title>
    <style>
        .truncate {
         width: 120px;
            /*            white-space: nowrap;
            overflow: hidden;*/
            text-overflow: ellipsis;
        }
    </style>
</head>
<h2>Мои сгенерированные документы</h2>
<div class="scroll-table">
    <table class="table" style="color:white;">
        <thead>
            <tr>
                @*   <th>
                Номер
                </th>*@
                <th style="border-radius: 8px 0 0 8px  ">
                    Название документа
                </th>
                <th style="width:250px;border-radius:0 8px 8px 0 ">
                    <form asp-action="Index_MyGenerate" asp-controller="Home" method="get" enctype="multipart/form-data">
                        <input type="search" placeholder="Поисковый запрос" name="SearchText" />
                        <button style="background-color: transparent; background-repeat: no-repeat;border: none;cursor: pointer;overflow: hidden;outline: none; align-content:end;"> <img src="~/css/pr-image/Search.png" width="20"></button>

                    </form>
                </th>

            </tr>
        </thead>
    </table>
    <div class="scroll-table-body">
        <div class="" style="color:white">
            @foreach (var item in Model)
            {
                <div style="display: flex;">
                    <div class="truncate" style="flex-grow: 1;text-align:start;  ">
                        @Html.DisplayFor(modelItem => item.DocumentsAllName)
                    </div>
                    <div style="width:80px">
                        <form asp-action="OpenFile2" asp-controller="Home" method="post" enctype="multipart/form-data" target="_blank">
                            <input name="IdFile" type="hidden" value="@item.DocumentsAllName">
                            <button style="background-color: transparent; background-repeat: no-repeat;border: none;cursor: pointer;overflow: hidden;outline: none; align-content:end;"> <img src="~/css/pr-image/OpenLink.png" width="40"></button>
                        </form>
                    </div>


                </div>
                <hr style="display: block;display: block;overflow: hidden;border-style: inset;border-width: 1px;">
            }
        </div>

    </div>
</div>



