﻿@using Microsoft.AspNetCore.Http;
@using Microsoft.EntityFrameworkCore;
@model DocumentCreatorProject1.Models.UsersAllInfo
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string[] mystring = Model.UsersInfoFio.Split(' ');
    var Famil = mystring[0];
    var Name = mystring[1];
    var Otch = "";
    if (mystring.Length == 3)
    {
        Otch = mystring[2];
    }
    if (mystring.Length == 2)
    {
        Otch = "";
    }
    if (mystring.Length == 4)
    {
        Otch = mystring[2] + " " + mystring[3];
    }

    DateTime? datenew = Model.KategoryDate;
    string datefinal = "";
    if (datenew != null)
    {
        datefinal = datenew?.ToString("yyyy-MM-dd");
    }

}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>МПТ-Профиль</title>
    <style>
        .required:after {
            content: " *";
            font-size: 10px;
            color: floralwhite;
        }
    </style>
</head>
<body>

    <div>
        @if (ViewBag.Role == "1")

        {
            <p><img src="~/css/pr-image/User_Admin.png" width="200" alt="Администратор"></p>
            <h2>@Html.DisplayFor(modelItem => Model.UsersInfoFio)</h2>
        }
        @if (ViewBag.Role == "2")
        {
            <p><img src="~/css/pr-image/User_Simple.png" width="200" alt="Пользователь"></p>
            <h2>@Html.DisplayFor(modelItem => Model.UsersInfoFio)</h2>
        }

    </div>
    <div class="row">

        <div class="col-md-4" style="border: 2px solid #53464f; border-radius:50px;">
            <form asp-action="ChangeFIO" asp-controller="Home" method="post" class="form">

                <h6>Основная информация</h6>

                <div>
                    <label class="required" style=" color: #A4969B;">Имя:</label>
                </div>
                <div>

                    <input class="required" name="Name" type="text" placeholder="Имя" value="@Name" style="border-radius: 5px; background-color:rgba(255,255,255,0.2); padding:5px; margin-top: 5px; margin-bottom:5px;" required>
                </div>
                <div>
                    <label class="required" style=" color: #A4969B;">Фамилия:</label>
                </div>
                <div>
                    <input type="text" name="Fam" placeholder="Фамилия" value="@Famil" style="border-radius: 5px; background-color:rgba(255,255,255,0.2); padding:5px; margin-top: 5px; margin-bottom:5px;" required>
                </div>
                <div>
                    <label style=" color: #A4969B;">Отчество:</label>
                </div>
                <div>
                    <input type="text" name="Ot" placeholder="Отчество" value="@Otch" style="border-radius: 5px; background-color:rgba(255,255,255,0.2); padding:5px; margin-top: 5px; margin-bottom:5px;">
                </div>
                <input type="submit" value="Изменить ФИО" style="border-radius: 5px; background-color:rgba(255,255,255,0.2);padding:5px;margin-top: 5px; margin-bottom:5px;">

            </form>
        </div>
        <div class="col-md-4" style="border: 2px solid #53464f; border-radius:50px;">
            <form asp-action="ChangeKateg" asp-controller="Home" method="post" class="form">
                <h6>Категория преподавателя</h6>
                <div>
                    <label class="required">Категория:</label>
                    <input type="text" name="Kategor" value="@Model.KategoryType" placeholder="Категория" style=" width:350px; border-radius: 5px; background-color:rgba(255,255,255,0.2);padding:5px;margin-top: 5px; margin-bottom:5px;  " required>
                </div>
                <div>
                    <label> до </label>
                    <input type="date" placeholder="" value="@datefinal" name="DateEnd" style="border-radius: 5px; background-color:rgba(255,255,255,0.2); padding:5px; margin-top: 5px; margin-bottom:5px; color:whitesmoke;" required>
                </div>
                <div><input type="submit" value="Изменить категорию" style="border-radius: 5px; background-color:rgba(255,255,255,0.2);padding:5px;margin-top: 5px; margin-bottom:5px;"></div>

            </form>
            <form asp-action="DeleteKateg" asp-controller="Home" method="post" class="form">
                <div><input type="submit" value="Удалить категорию" style="border-radius: 5px; background-color:rgba(255,255,255,0.2);padding:5px;margin-top: 5px; margin-bottom:5px;"></div>
            </form>
        </div>
        <div class="col-md-4" style="border: 2px solid #53464f; border-radius:50px;">
            <form id="formPass" name="formPass">
                <input name="IdFile" type="hidden" value="@Html.DisplayFor(modelItem => Model.IdUsers)">
                <h6>Смена пароля</h6>
                <label class="required" style=" color: #A4969B;">Старый пароль:</label>
                <div>
                    <input id="passwordOld" name="Password" type="password" placeholder="••••••••••••" style="border-radius: 5px; background-color:rgba(255,255,255,0.2);padding:5px;margin-top: 5px; margin-bottom:5px;" required>
                </div>
                <label class="required" style=" color: #A4969B;">Новый пароль:</label>
                <div>
                    <input id="passwordNew" name="PasswordNew" type="password" pattern="(?=.*\d)(?=.*[a-zа-я])(?=.*[A-ZА-Я]).{8,}" title="Пароль должен содержать минимум 8 символов, одну большую букву и одну цифру" placeholder="••••••••••••" style="border-radius: 5px; background-color:rgba(255,255,255,0.2);padding:5px;margin-top: 5px; margin-bottom:5px;" required>
                </div>
                <input type="submit" value="Сменить пароль" style="border-radius: 5px; background-color:rgba(255,255,255,0.2);padding:5px;margin-top: 5px; margin-bottom:5px;">

            </form>
 
        </div>
    </div>
</body>
</html>
