﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="icon" href="~/css/pr-image/MPT.png">
    <meta charset="UTF-8">
    <title>МПТ-Авторизация в системе</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/Auth.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <style>
        body {
            color: white;
            font-family: 'Bookman Old Style';
            text-align: center;
        }
    </style>

</head>

<body class="align">

    <div class="grid align__item">

        <div class="register">

            <img src="~/css/pr-image/MPT.png" height="84"></img>

            <h2>Авторизация</h2>

            <form asp-action="Auth" asp-controller="Home" method="post" class="form">

                <div>
                    <input type="email" placeholder="Email" name="Email" style="border-radius: 5px; background-color:rgba(255,255,255,0.2); padding:5px; margin-top: 5px; margin-bottom:5px;">
                </div>

                <div>
                    <input type="password" name="Password" placeholder="••••••••••••" style="border-radius: 5px; background-color:rgba(255,255,255,0.2);padding:5px;margin-top: 5px; margin-bottom:5px;">
                </div>

                <div>
                    <input type="submit" value="Войти" class="btn btn-primary" style="border-radius: 5px; background-color:rgba(255,255,255,0.2);padding:5px;margin-top: 5px; margin-bottom:5px; width:100px" />

                </div>

            </form>

            <p>Ещё нет аккаунта? <a asp-action="Index_Register">Регистрация</a></p>

        </div>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

<script src="~/js/register.js"></script>
