﻿<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="~/css/pr-image/MPT.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DocumentCreatorProject1.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
     <div id="snackbar"></div>

    <style>


        body {
            background-color: #655560;
            color: white;
            font-family: 'Bookman Old Style';
            text-align: center;
        }

        textarea {
            width: 700px;
            height: 150px;
        }

        .scroll-table-body {
            height: 420px;
            overflow-x: auto;
            margin-top: 0px;
            margin-bottom: 20px;
            border-bottom: 1px solid #eee;
        }

        .scroll-table table {
            width: 100%;
            table-layout: fixed;
            border: none;
        }

        .scroll-table thead th {
            font-weight: bold;
            text-align: left;
            border: none;
            padding: 10px 15px;
            background: black;
            font-size: 14px;
        }

        .scroll-table tbody td {
            text-align: left;
            padding: 10px 15px;
            font-size: 14px;
            vertical-align: top;
        }

        .scroll-table tbody tr:nth-child(even) {
            background: #544750;
        }

        ::placeholder { /* Most modern browsers support this now. */
            color: white;
        }

        .round {
            width: 70px;
            height: 70px;
            border-radius: 200px; /* Радиус скругления */
            border: none; /* Параметры рамки */
            box-shadow: 0 0 7px #666; /* Параметры тени */
        }

        .wrp {
            max-width: 900px;
            margin: 0 auto;
            position: relative;
        }
    </style>

    <style>
        /* Положение сообщения в низу и посередине экрана */
        #snackbar {
            visibility: hidden; /* По умолчанию скрыто. Показывается по нажатию на кнопку */
            width: 100%;
            /* Минимальная ширина */
            /*  margin-left: -125px;*/ /* Значение min-width деленное на 2 */
            background-color: #322a2fe8; /* Черный фон */
            color: #fff; /* Белый текст */
            text-align: center; /* Текст по центру */
            border-radius: 2px; /* Закругленные края */
            padding: 16px; /* Отступы */
            position: fixed; /* Всегда на экране */
            z-index: 8; /* Добавим z-index, если нужно */
            /* Сообщение по центру */
            bottom: 30px; /* 30px от низа экрана */
        }

            /* Показываем сообщение при нажатии на кнопку (добавляется JavaScript) */
            #snackbar.show {
                visibility: visible; /* Показать сообщение */
                /* Добавляем анимацию: Отведем 0.5 сек. на появление и исчезание сообщения.
                              При этом задержка процесса исчезания составит 2.5 сек */
                -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
                animation: fadein 0.5s, fadeout 0.5s 2.5s;
            }

        /* Анимация появления и исчезания сообщения */
        -webkit-keyframes fadein {
            from

        {
            bottom: 0;
            opacity: 0;
        }

        to {
            bottom: 30px;
            opacity: 1;
        }

        }

        keyframes fadein {
            from

        {
            bottom: 0;
            opacity: 0;
        }

        to {
            bottom: 30px;
            opacity: 1;
        }

        }

        -webkit-keyframes fadeout {
            from

        {
            bottom: 30px;
            opacity: 1;
        }

        to {
            bottom: 0;
            opacity: 0;
        }

        }

        keyframes fadeout {
            from

        {
            bottom: 30px;
            opacity: 1;
        }

        to {
            bottom: 0;
            opacity: 0;
        }

        }
    </style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="~/js/templates.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script src="~/js/register.js"></script>
