﻿
<!DOCTYPE html>
<html lang="en">

<head>
    <script>

        window.onload = function () {
            document.body.classList.add('loaded_hiding');
            window.setTimeout(function () {
                document.body.classList.add('loaded');
                document.body.classList.remove('loaded_hiding');
            }, 500);
        }
    </script>
    <style>
        .preloader {
            /*фиксированное позиционирование*/
            position: fixed;
            /* координаты положения */
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            /* фоновый цвет элемента */
            background: #655560;
            /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
            z-index: 1001;
        }

        .preloader__row {
            position: relative;
            top: 50%;
            left: 50%;
            width: 70px;
            height: 70px;
            margin-top: -35px;
            margin-left: -35px;
            text-align: center;
            animation: preloader-rotate 2s infinite linear;
        }

        .preloader__item {
            position: absolute;
            display: inline-block;
            top: 0;
            background-color: white;
            border-radius: 100%;
            width: 35px;
            height: 35px;
            animation: preloader-bounce 2s infinite ease-in-out;
        }

            .preloader__item:last-child {
                top: auto;
                bottom: 0;
                animation-delay: -1s;
            }

        @@keyframes preloader-rotate {
            100% {
                transform: rotate(360deg);
            }
        }

        @@keyframes preloader-bounce {
            0%, 100% {
                transform: scale(0);
            }

            50% {
                transform: scale(1);
            }
        }

        .loaded_hiding .preloader {
            transition: 0.3s opacity;
            opacity: 0;
        }

        .loaded .preloader {
            display: none;
        }
    </style>

    <link rel="icon" href="~/css/pr-image/MPT.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DocumentCreatorProject1.styles.css" asp-append-version="true" />


</head>

<body>
    <div class="preloader" style="z-index:9999">
        <div class="preloader__row" style="z-index:9999">
            <div class="preloader__item" style="z-index:9999"></div>
            <div class="preloader__item" style="z-index:9999"></div>
        </div>
    </div>
    <div id="loader" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999; background-color: rgba(255, 255, 255, 0); display:none;">
        <img src="~/css/pr-image/tail-spin-1.svg" alt="Loading..." style="height: 20vh" />
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="max-width:100%">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area=""> <img src="~/css/pr-image/MPT.png" width="80"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index_MyDocument">Мои документы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index_Doc">Добавить новый документ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index_Profile">Профиль</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Генерация
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li> <a class="nav-link text-dark dropdown-item" asp-area="" style="text-align:center" asp-controller="Home" asp-action="Index_Plane">Создать индивидуальный план</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <button class="dropdown-item" id="myButton2" style="border:none; background-color: white; text-align:center">Информационная справка (Первая категория)</button>
                                </li>
                                <li>
                                    <button class="dropdown-item" id="myButton" style="border:none; background-color: white; text-align:center">Информационная справка (Высшая категория)</button>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Home" style="text-align:center" asp-action="Index_MyGenerate">Созданные документы</a></li>
                            </ul>
                        </li>
                        @if (ViewBag.Role == "1")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index_AllUsers">Все пользователи</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Exit_Profile">Выход</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div id="snackbar"></div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Образцова Ксения Сергеевна
        </div>
    </footer>
    <style>
        .navbar-custom {
            background-color: white;
            /* background-color: #dcd6da;*/
        }

        body {
            background-color: #655560;
            color: white;
            font-family: 'Bookman Old Style';
            text-align: center;
        }


        textarea {
            width: 90%;
            height: 150px;
        }

        .scroll-table-body {
            height: 420px;
            overflow-x: auto;
            margin-top: 0px;
            margin-bottom: 20px;
            border-bottom: 1px solid #eee;
        }

        .scroll-table table {
            width: 100%;
            table-layout: fixed;
            border: none;
        }

        .scroll-table thead th {
            font-weight: bold;
            text-align: left;
            border: none;
            padding: 10px 15px;
            background: black;
            font-size: 14px;
        }

        .scroll-table tbody td {
            text-align: left;
            padding: 10px 15px;
            font-size: 14px;
            vertical-align: top;
        }

        .scroll-table tbody tr:nth-child(even) {
            background: #544750;
        }

        ::placeholder { /* Most modern browsers support this now. */
            color: white;
        }

        .dropdown-item:active {
            background-color: #b1a5ae;
            color: black
        }

        .round {
            width: 70px;
            height: 70px;
            border-radius: 200px; /* Радиус скругления */
            border: none; /* Параметры рамки */
            box-shadow: 0 0 7px #666; /* Параметры тени */
        }

        .wrp {
            max-width: 900px;
            margin: 0 auto;
            position: relative;
        }

    </style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>



<style>
    /* Положение сообщения в низу и посередине экрана */
    #snackbar {
        visibility: hidden; /* По умолчанию скрыто. Показывается по нажатию на кнопку */
        width: 100%;
        /* Минимальная ширина */
        /*  margin-left: -125px;*/ /* Значение min-width деленное на 2 */
        background-color: #322a2fe8; /* Черный фон */
        color: #fff; /* Белый текст */
        text-align: center; /* Текст по центру */
        border-radius: 2px; /* Закругленные края */
        padding: 16px; /* Отступы */
        position: fixed; /* Всегда на экране */
        z-index: 8; /* Добавим z-index, если нужно */
        /* Сообщение по центру */
        bottom: 30px; /* 30px от низа экрана */
    }

        /* Показываем сообщение при нажатии на кнопку (добавляется JavaScript) */
        #snackbar.show {
            visibility: visible; /* Показать сообщение */
            /* Добавляем анимацию: Отведем 0.5 сек. на появление и исчезание сообщения.
                      При этом задержка процесса исчезания составит 2.5 сек */
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

    /* Анимация появления и исчезания сообщения */
    -webkit-keyframes fadein {
        from

    {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }

    }

    keyframes fadein {
        from

    {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }

    }

    -webkit-keyframes fadeout {
        from

    {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }

    }

    keyframes fadeout {
        from

    {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }

    }
</style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="~/js/templates.js"></script>
<script>
    html.find('script[src="https://ads.mgmt.somee.com/serveimages/ad2/WholeInsert5.js"]').remove();
</script>
<script>
    $(function () {
        $.ajaxSetup({
            beforeSend: function () {
                $("#loader").show();
            },
            complete: function () {
                $("#loader").hide();
            }
        });
    });
</script>